.viagem_mainDiv
{
    border: 1px solid rgb(87, 235, 141);
}

.viagem_mainDiv img
{
    width:100%;
}


.viagem_mainDiv h5 , .viagem_mainDiv p
{
    margin:20px;
}

.filmesHead
{
    font-size: 20px;
    padding: 6px 22px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.filmesHead i
{
    float:right;
}

.filmesText span
{
    color:rgb(239, 224, 94);
}
.livros
{
margin-bottom: 20px;
}

#contato iframe
{
    width:100%;
}